.Calibri{
    font: normal normal bold 28px/40px Calibri;
}
.Legyen{
    font: normal normal bold 49px/70px Calibri;
    letter-spacing: var(--unnamed-character-spacing-0);
}
.Vekony{
    font: normal normal 300 24px/34px Calibri;
}
.Vagjuk{
    font: normal normal bold 36px/51px Calibri;
}

.VA{
    font: normal normal 300 20px/28px Calibri;
}
.K{
  font:  normal normal bold 28px/40px Calibri;
}



